{% extends "layout.html" %}

{% block title %}
    Set a new password
{% endblock %}

{% block main %}
    <form action="/password" method="post">
        <p class="new-pass">Change Password</p>
        <div class="form-group">
          <input class="form-control" name="password" placeholder="New password" type="password">
        </div>
        <div class="form-group">
            <input class="form-control" name="confirmation" placeholder="Confirm new password" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Save changes</button>
    </form>
{% endblock %}

